
#main{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}
#left{
    background-color: blue;
    margin-left: 10%;

}
#left img{
    width: 350px !important;
    /* height: 300px; */
}
#right{
    display: flex;
    flex-direction: column;
    /* margin-top: 200px ; */
    height: 400px;
    width: 500px;
    
    /* margin-left: 5%; */
}
#inside_right{
    margin-top: 50px ;
    /* margin-left: 30px; */
    /* background-color: yellow; */
    
}
#cardBody{
    width: 900px;
    height: 500px;
}
#input1{
    display: flex;
    flex-direction: column;
}
#quantity{
    display: flex;
    position: relative;
    margin-top: 140px;
    /* margin-left: 20px; */
    gap: 10px;
}
.quantitybtn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: none;
}
.quantitybtn:hover{
    background-color: gray;
}
#form1{
width: 60px;
/* border: none; */
text-indent: 20px;
}
#neechywalubtn{
    margin-top: 20px;
    /* margin-left: 15px; */
}
#neechywalubtn #btn1{
    width: 210px;
    height: 40px;
    background-color: #2abbe8;
    color: antiquewhite;
    border: none;
    /* margin-left: 5px; */
}
#neechywalubtn #btn2{
    width: 210px;
    height: 40px;
    background-color: #f57224;
    color: antiquewhite;
    border: none; 
    margin-left: 5px;
}
